body {
  font-family: 'Days One', sans-serif;
  font-weight: lighter;
  color: white;
  background-image: url("assets/images/carbonfiber.webp");
  background-size: cover;
  background-repeat: no-repeat;  
}

header {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5); /* set the background color with alpha value */
  backdrop-filter: blur(1px); /* add blur effect to the background */
  padding: 20px; /* add some padding to the header */
}

h1 {
  text-align: center;
  font-size: 6vw;
  -webkit-text-stroke: 2px #000000;
  margin-bottom: 0;
}

h2 {
  font-size: 4rem;
  color: #ffc107;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;


}

h4 {
  margin: 0;
  text-shadow: -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0), 1px 1px 0 black;
  letter-spacing: 0.2vw;
}

#message {
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
  margin: 1vw;
}

span {
  font-size: 2rem;
  color: red;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px green, 0 0 40px green, 0 0 50px green, 0 0 60px green, 0 0 70px green;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ffc107, 0 0 40px #ffc107, 0 0 50px #ffc107, 0 0 60px #ffc107, 0 0 70px #ffc107, 0 0 80px #ffc107;
  }
}

#container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 80%;
  text-shadow: -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0), 1px 1px 0 black;

}

.time-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.time-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 1vw;
  margin-left: 0.5vw;
  font-size:x-large;
}

.time {
  font-size: 2.5vw;
  font-weight: 300;
  padding: 1vw;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: black;
}

.semicolon {
  font-size: 2.5vw;
  align-self: center;
}

.time-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#btn-grp {
  display: flex;
  align-items: center;
  justify-content: center;
  
}



.btn {
  font-size: 3.5vw;
  margin: 12px;
  height: 7vh;
  width: 7vw;
  border-radius: 10px;
  background: #333;
  justify-content: center;
  align-items: center;
  box-shadow: -2px -2px 2px #444, 5px 5px 15px #222, inset 5px 5px 10px #444, inset -5px -5px 10px #222;
  font-family: 'Damion', cursive;
  border: none;
  font-size: 1.5rem;
  color: rgb(161, 161, 161);
  transition: 500ms;
}

button:hover {
  box-shadow: -2px -2px 4px #444, 5px 5px 15px #222, inset 5px 5px 10px #222, inset -5px -5px 10px #444;
  color: #d6d6d6;
  transition: 500ms;
}


@media only screen and (max-width: 600px) {
  .btn {
    font-size: 2vw;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 400px) {
  .label {
    font-size: 3vw;
    margin: 0 0.5rem;
  }

  .time {
    font-size: 3vw;
    padding: 0.5rem;
  }
}

#container>* {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1vw;
}



.time-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

